{
  "dev": {
    "DIRECTUS_URL": "***",
    "COOKIE_SECRET": "61d0e4ce-1713-4a11-88c1-fe82b97e9cb1",
    "TEMPLATES": "./src/templates",
    "STATIC_CONTENT": "./src/static",

    // Leave empty if using OPEN_AI env vars
    "VAULT_ADDR": "***",
    "VAULT_TOKEN": "***",

    // Leave empty if using VAULT env vars
    "OPENAI_ENDPOINT": "https://***.openai.azure.com/openai/deployments/***",
    "OPENAI_MODEL": "gpt-4o-mini",
    "OPENAI_API_VERSION": "2024-08-01-preview",
    "OPENAI_API_KEY": "***"
  }
}
